# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
terraform-provider-sbercloud

# Terraform related data
*.tf
*.tfstate
*.tfstate.backup
*.log
*.json
*.yaml
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Test binary, built with `go test -c`
*.test
.acc-test-env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/

sbercloud/services/rds_new
#sbercloud/acceptance/dcs
sbercloud/acceptance/rds